<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('查看广告信息')" />
	<th:block th:include="include :: summernote-css" />
</head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<form class="form-horizontal m" id="form-shop-ad-edit" th:object="${ad}">
			<input name="id" type="hidden" th:field="*{id}"/>
			<div class="form-group tc">
				<label class="col-sm-3 control-label">广告prefix图片：</label>
				<div class="col-sm-8">
					<img id="ad_img" class="img-circle img-lg" th:src="*{imageUrl}">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">广告名称：</label>
				<div class="col-sm-8">
					<p type="text" name="productName" id="productName" th:text="${ad.adName}"></p>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">广告类型：</label>
				<div class="col-sm-8">
					<p id="adType_p"></p>
					<input type="hidden" id="adType" class="form-control" name="adType" th:field="*{adType}" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">广告链接：</label>
				<div class="col-sm-8">
					<p type="text" name="adLink" th:text="${ad.adLink}"></p>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">广告内容：</label>
				<div class="col-sm-8">
					<p type="text" name="content" th:text="${ad.content}"></p>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">是否启用：</label>
				<div class="col-sm-8">
					<div class="radio-inline">
			            <label><input readonly name="status" type="radio" value="1" th:field="*{status}"/>启用</label>
			        </div>
			        <div class="radio-inline">
			            <label><input readonly name="status" type="radio" value="0" th:field="*{status}"/>不启用</label>
			        </div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">权重：</label>
				<div class="col-sm-8">
					<p name="sort" th:text="${ad.sort}"></p>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label"></label>
				<div class="col-sm-8">
					<button type="button" class="btn btn-w-m btn-primary" onclick="$.modal.closeTab();">返回</button>
					<button type="button" class="btn btn-w-m btn-primary" onclick="gotoEdit()">修改</button>
				</div>
			</div>
		</form>
	</div>
	<th:block th:include="include :: footer" />
	<th:block th:include="include :: summernote-js" />
	<script type="text/javascript" th:inline="javascript">
		var prefix = ctx + "ext/shop/ad";
		$(function () {
			var adType=$("#adType").val();
			var str={1:"网址",2:"内部商品",3:"内部拍品",4:"内部寄售商品",5:"无链接"}[adType]||"不详"
			$("#adType_p").text(str)
		})

		function gotoEdit() {
			var url = prefix + '/edit/' + $("#id").val();
			$.modal.openTab("编辑广告", url);
		}
	</script>
</body>
</html>
