<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('修改商品信息')" />
	<th:block th:include="include :: summernote-css" />
</head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<form class="form-horizontal m" id="form-shop-goods-edit" th:object="${goods}">
			<input id="id" name="id" type="hidden" th:field="*{id}"/>
			<div class="form-group">
				<label class="col-sm-3 control-label is-required">标题：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="productName" id="productName" th:field="*{productName}" required>
				</div>
			</div>
			<div class="form-group tc">
				<label class="col-sm-3 control-label is-required">封面图：</label>
				<div class="col-sm-8">
					<img id="productPic_img" class="img-circle img-lg" th:src="${goods.productPic}" >
					<label>
						<input onchange ="uploadImg()" type="file" class="" id="productPic" accept="image/*"/>
						<input name="productPic" id="productPicInput"  type="hidden" th:field="*{productPic}"/>
					</label>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label is-required">价格：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="price" id="price" th:field="*{price}" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label is-required">类别：</label>
				<div class="col-sm-8">
					<select class="form-control" id="productCategoryIds" name="productCategoryIds"  onChange="productCategoryChange()" required>
						<option value="">--请选择商品类别--</option>
						
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label is-required">子类别：</label>
				<div class="col-sm-8">
					<select class="form-control" id="productCategoryId" name="productCategoryId" required>
						<option value="">--请选择商品子类别--</option>

					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label is-required">商品描述：</label>
				<div class="col-sm-8">
					<textarea class="form-control" name="description" th:field="*{description}" required>

					</textarea>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label is-required">缩略图：</label>
				<div class="col-sm-8">
					<label>
						<a>添加图片</a>
						<input style="visibility: hidden" onchange ="upAlbumPics()" id="uploadAlbumPics" type="file"  accept="image/*"/>
					</label>
					<div id="upAlbumPics_content">

					</div>
				</div>
				<input type="hidden" id="albumPics" th:field="*{albumPics}">
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label is-required">商品详情：</label>
				<div class="col-sm-8">
					<input id="detail_desc" th:value="${goods.detailDesc}" type="hidden">
					<div class="summernote" id="editor"></div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label"></label>
				<div class="col-sm-8">
					<button type="button" class="btn btn-w-m btn-primary" onclick="submitHandler()">提交</button>
				</div>
			</div>
		</form>
		<input id="category" type="hidden" th:value="${goods.productCategoryId}"/>
		<input id="subCategory" type="hidden" th:value="${goods.productCategorySecondaryId}"/>
	</div>

	<style>
		#upAlbumPics_content>div{
			width: 100px;
			height:50px;
			display: inline-block;
			margin-right: 10px;
		}
		#upAlbumPics_content>div>img{
			width: 100%;
			height: 100%;
		}
	</style>
	<th:block th:include="include :: footer" />
	<th:block th:include="include :: summernote-js" />
	<script type="text/javascript" th:inline="javascript">
		var prefix = ctx + "ext/shop/goods";
        var _categoryAll=[];
        var albumPics=[];
		$(function () {
			fetchGoodsCategory();
			$('.summernote').summernote({
				placeholder: '请输入商品详情',
				height: 192,
				lang: 'zh-CN',
				followingToolbar: false,
				callbacks: {
					onImageUpload: function (files) {
						sendFile(files[0], this);
					}
				}
			});
			var content = $("#detail_desc").val();
			$('#editor').summernote('code', content);
		});
		$("#form-shop-goods-edit").validate({
			onkeyup: false,
			focusCleanup: true
		});
		function submitHandler() {
			if(!$("#productPicInput").val()){
				$.modal.alertWarning("封面图不能为空");
				return;
			}
			if ($.validate.form()) {
				var data = $("#form-shop-goods-edit").serializeArray();
				var sHTML = $('.summernote').summernote('code');
				data.push({"name": "detailDesc", "value": sHTML});
				data.push({"name": "albumPics", "value": albumPics});
				$.operate.saveTab(prefix + "/edit", data);
			}
		}

		function uploadImg(){
			var formdata = new FormData();
			formdata.append("file", $("#productPic")[0].files[0]);
			$.ajax({
				url: ctx + "ext/shop/oss/upload",
				data: formdata,
				type: "post",
				processData: false,
				contentType: false,
				success: function (result) {
					$("#productPicInput").val(result.data.pictureUrl)
					$("#productPic_img").attr("src",result.data.pictureUrl)
				}
			})
		}

		function upAlbumPics(){
			var formdata = new FormData();
			formdata.append("file", $("#uploadAlbumPics")[0].files[0]);
			$.ajax({
				url: ctx + "ext/shop/oss/upload",
				data: formdata,
				type: "post",
				processData: false,
				contentType: false,
				success: function (result) {
					albumPics.push(result.data.pictureUrl)
					$("#upAlbumPics_content").append('<div><img  src="'+result.data.pictureUrl+'"></div>')
					// $("#albumPics").val(albumPics)
					// $("#albumPics").attr("src",result.data.pictureUrl)
				}
			})
		}
		function randerImgs() {
			for(var i =0;i<albumPics.length;i++){

			}
		}

		function fetchGoodsCategory() {
			var categoryId=$("#category").val()
			console.log("categoryId",categoryId)
			$.ajax({
				url: ctx + "ext/shop/category/queryAll",
				type: "get",
				success: function (result){
					_categoryAll=result.categoryList;
					for(var i=0;i<_categoryAll.length;i++){
						if(categoryId==_categoryAll[i].value){
							$("#productCategoryIds").append('<option selected value="'+_categoryAll[i].value+'">'+_categoryAll[i].label+'</option>')
						}else{
							$("#productCategoryIds").append('<option value="'+_categoryAll[i].value+'">'+_categoryAll[i].label+'</option>')
						}
					}
					if(categoryId){
						productCategoryChange(categoryId)
					}
				}
			})
		}
		function productCategoryChange(categoryId) {
			console.log("init sub categoryId",categoryId)
			$("#productSubCategoryId").val("");
			$("#productSubCategoryId").html('<option value="">--请选择商品子类别--</option>');
			for(var i=0;i<_categoryAll.length;i++){
				if(_categoryAll[i].value==$("#productCategoryIds").val()){
					for(var y=0;y<_categoryAll[i].children.length;y++){
						var _subItem=_categoryAll[i].children[y];
						if(categoryId&&($("#subCategory").val()==_subItem.value)){
							$("#productCategoryId").append('<option selected value="'+_subItem.value+'">'+_subItem.label+'</option>')
						}else{
							$("#productCategoryId").append('<option value="'+_subItem.value+'">'+_subItem.label+'</option>')
						}
					}
				}
				break;
			}
		}
		$('.summernote').summernote({
			placeholder: '请输入商品详情',
			height : 192,
			lang : 'zh-CN',
			followingToolbar: false,
			callbacks: {
				onImageUpload: function (files) {
					sendFile(files[0], this);
				}
			}
		});
		// 上传文件
		function sendFile(file, obj) {
			var data = new FormData();
			data.append("file", file);
			$.ajax({
				type: "POST",
				url: ctx + "ext/shop/oss/upload",
				data: data,
				cache: false,
				contentType: false,
				processData: false,
				dataType: 'json',
				success: function(result) {
					console.log("富文本图片上传成功", result.data.fileName)
					$(obj).summernote('editor.insertImage', result.data.pictureUrl, result.data.fileName);
				},
				error: function(error) {
					$.modal.alertWarning("图片上传失败。");
				}
			});
		}
	</script>
</body>
</html>
