<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('修改商品信息')" />
</head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<form class="form-horizontal m" id="form-shop-user-edit" th:object="${goods}">
			<input id="id" name="id" type="hidden" th:field="*{id}"/>
			<div class="form-group">
				<label class="col-sm-3 control-label">标题：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="productName" id="productName" th:field="*{productName}">
				</div>
			</div>
			<div class="form-group tc">
				<label class="col-sm-3 control-label">封面图：</label>
				<div class="col-sm-8">
					<img class="img-circle img-lg" th:src="${goods.productPic}">
					<label>
						<input th:field="*{productPic}" onchange ="uploadImg()" type="file" class="" name="productPic" id="productPic" accept="image/*"/>
					</label>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">价格：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="price" id="price" th:field="*{price}">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">类别：</label>
				<div class="col-sm-8">
					<select class="form-control" id="productCategoryId" name="productCategoryId" th:field="*{productCategoryId}" onChange="productCategoryChange(this)">
						<option value="">--请选择商品类别--</option>

					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">子类别：</label>
				<div class="col-sm-8">
					<select class="form-control" id="productSubCategoryId" name="productSubCategoryId">
						<option value="">--请选择商品子类别--</option>

					</select>
				</div>
			</div>
		</form>
	</div>
	<th:block th:include="include :: footer" />
	<script type="text/javascript">
		var productCategoryId = '[[${goods.productCategoryId}]]';
		console.log("productCategoryId",productCategoryId)
		var goods = '[[${goods}]]';
		console.log("goods",goods)

		var prefix = ctx + "ext/shop/goods";
        var _categoryAll=[];
        $(function () {
			fetchGoodsCategory();
		})
		function submitHandler() {
	        if ($.validate.form()) {
	        	$.operate.save(prefix + "/edit", $('#form-shop-user-edit').serialize());
	        }
	    }
	    function uploadImg(){
			var formdata = new FormData();
			formdata.append("file", $("#productPic")[0].files[0]);
			$.ajax({
				url: ctx + "ext/shop/oss/upload",
				data: formdata,
				type: "post",
				processData: false,
				contentType: false,
				success: function (result) {
					console.log(JSON.stringify(result))
				}
			})
		}
		function fetchGoodsCategory() {
			$.ajax({
				url: ctx + "ext/shop/goods/category/queryAll",
				type: "get",
				success: function (result){
					_categoryAll=result.categoryList;
					for(var i=0;i<_categoryAll.length;i++){
						$("#productCategoryId").append('<option value="'+_categoryAll[i].value+'">'+_categoryAll[i].label+'</option>')
					}
				}
			})
		}
		function productCategoryChange(obj) {
			$("#productSubCategoryId").val("");
			$("#productSubCategoryId").html('<option value="">--请选择商品子类别--</option>');
			for(var i=0;i<_categoryAll.length;i++){
				if(_categoryAll[i].value==$(obj).val()){
					for(var y=0;i<_categoryAll[i].children.length;i++){
						var _subItem=_categoryAll[i].children[y];
						$("#productSubCategoryId").append('<option value="'+_subItem.value+'">'+_subItem.label+'</option>')
					}
				}
				break;
			}
		}

	</script>
</body>
</html>
