<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('修改商品信息')" />
	<th:block th:include="include :: summernote-css" />
</head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<form class="form-horizontal m" id="form-shop-goods-edit" th:object="${goods}">
			<input id="id" name="id" type="hidden" th:field="*{id}"/>
			<div class="form-group">
				<label class="col-sm-3 control-label is-required">标题：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="productName" id="productName" th:field="*{productName}" required>
				</div>
			</div>
			<div class="form-group tc">
				<label class="col-sm-3 control-label is-required">封面图：</label>
				<div class="col-sm-8">
					<img id="productPic_img" class="img-circle img-lg" th:src="${goods.productPic}" >
					<label>
                        <a type="button" class="btn btn-w-m btn-primary">选择图片</a>
                        <input onchange ="uploadImg()" style="display: none" type="file" class="" id="productPic" accept="image/*"/>
					</label>
					<input name="productPic" id="productPicInput"  type="hidden" th:field="*{productPic}"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label is-required">市场价：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="price" id="price" th:field="*{price}" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label is-required">一口价：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="promotionPrice" id="promotionPrice" th:field="*{promotionPrice}" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label is-required">库存：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="stock" id="stock" th:field="*{stock}" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label is-required">类别：</label>
				<div class="col-sm-8">
					<select class="form-control" id="productCategoryIds" name="productCategoryIds"  onChange="productCategoryChange()" required>
						<option value="">--请选择商品类别--</option>
						
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label is-required">子类别：</label>
				<div class="col-sm-8">
					<select class="form-control" id="productCategoryId" name="productCategoryId" required>
						<option value="">--请选择商品子类别--</option>

					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label is-required">供应商：</label>
				<div class="col-sm-8">
					<div class="input-group">
						<input class="form-control" id="supplier" name="supplier" required th:field="*{supplier}" />
						<span class="input-group-btn">
						<button type="button" class="btn btn-primary" onclick="selectRadioSupplier()">选择供应商
                                        </button> </span>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label is-required">商品描述：</label>
				<div class="col-sm-8">
					<textarea class="form-control" name="description" th:field="*{description}" required></textarea>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label is-required">商品相册：</label>
				<div class="col-sm-8">
					<label>
						<a type="button" class="btn btn-w-m btn-primary">选择图片</a>
						<input style="visibility: hidden" onchange ="upAlbumPics()" id="uploadAlbumPics" type="file"  accept="image/*"/>
					</label>
					<div id="upAlbumPics_content">

					</div>
				</div>
				<input type="hidden" id="albumPics" th:value="${goods.albumPics}">
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label is-required">推荐状态：</label>
				<div class="col-sm-8">
					<div>
						<span><input type="radio" name="onIndexPage" value="true" th:field="*{onIndexPage}" required>推荐</span>
						<span style="margin-left: 10px"><input type="radio" name="onIndexPage" value="false" th:field="*{onIndexPage}" required>不推荐</span>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label is-required">上架状态：</label>
				<div class="col-sm-8">
					<div>
						<span><input type="radio" name="publishStatus" value="1" th:field="*{publishStatus}" required>上架</span>
						<span style="margin-left: 10px"><input type="radio" name="publishStatus" value="0" th:field="*{publishStatus}" required>下架</span>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label is-required">商品详情：</label>
				<div class="col-sm-8">
					<input id="detail_desc_s" th:value="${goods.detailDesc}" type="hidden">
					<div class="summernote" id="editor"></div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label"></label>
				<div class="col-sm-8">
					<a type="button" class="btn btn-w-m btn-primary" onclick="submit()">提交</a>
					<a type="button" class="btn btn-w-m btn-primary" onclick="$.modal.closeTab();">返回</a>
				</div>
			</div>
		</form>
		<input id="category" type="hidden" th:value="${goods.productCategoryId}"/>
		<input id="subCategory" type="hidden" th:value="${goods.productCategorySecondaryId}"/>
	</div>

	<style>
		#upAlbumPics_content>div{
			width: 100px;
			height:50px;
			display: inline-block;
			margin-right: 10px;
		}
		#upAlbumPics_content>div>img{
			width: 100%;
			height: 100%;
		}
	</style>
	<th:block th:include="include :: footer" />
	<th:block th:include="include :: summernote-js" />
	<script type="text/javascript" th:inline="javascript">
		var prefix = ctx + "ext/shop/goods";
		var albumPics =[];
		$(function () {
			fetchGoodsCategory();
			$('.summernote').summernote({
				placeholder: '请输入商品详情',
				height: 192,
				lang: 'zh-CN',
				followingToolbar: false,
				callbacks: {
					onImageUpload: function (files) {
						sendFile(files[0], this);
					}
				}
			});
			var content = $("#detail_desc_s").val();
			$('#editor').summernote('code', content);
			var _albumPics=$("#albumPics").val();
			_albumPics=_albumPics.replace(/\[|]/g,'');
			albumPics=_albumPics.split(',')
			randerImgs()
		});
		function selectRadioSupplier() {
			$.modal.open("选择供应商", prefix + "/supplier");
		}
		$("#form-shop-goods-edit").validate({
			onkeyup: false,
			rules: {
				description: {
					minlength: 5,
					maxlength: 200
				},
			},
			focusCleanup: true
		});
		function submit() {
			if(!$("#productPicInput").val()){
				$.modal.alertWarning("封面图不能为空");
				return;
			}
			if ($.validate.form()) {
				var data = $("#form-shop-goods-edit").serializeArray();
				var sHTML = $('.summernote').summernote('code');
				data.push({"name": "detailDesc", "value": sHTML});
				data.push({"name": "albumPics", "value": JSON.stringify(albumPics)});
				SHOP_COMMON.ajax.pageSave(prefix + "/edit",data)
				// $.operate.saveTab(prefix + "/edit", data);
			}
		}
		function uploadImg(){
			var formdata = new FormData();
			formdata.append("file", $("#productPic")[0].files[0]);
			SHOP_COMMON.ajax.uploadImg(formdata,function (result) {
				$("#productPicInput").val(result.data.pictureUrl)
				$("#productPic_img").attr("src",result.data.pictureUrl)
			})
		}
        function upAlbumPics(){
            var formdata = new FormData();
            formdata.append("file", $("#uploadAlbumPics")[0].files[0]);
            SHOP_COMMON.ajax.uploadImg(formdata,function (result) {
                albumPics.push(result.data.pictureUrl)
                $("#upAlbumPics_content").append("<div class='pic'><img src='"+result.data.pictureUrl+"'><p style='text-align: center'><a onclick=delAlbumPics(this,'"+result.data.pictureUrl+"')>删除</a></p></div>")
            })
        }

		function delAlbumPics(obj,str) {
			$(obj).parents("div.pic").remove();
			var index = albumPics.indexOf(str);
			if (index > -1) {
				albumPics.splice(index, 1);
			}
		}

		function randerImgs() {
			for(var i =0;i<albumPics.length;i++){
				$("#upAlbumPics_content").append("<div class='pic'><img src='"+albumPics[i]+"'><p style='text-align: center'><a onclick=delAlbumPics(this,'"+albumPics[i]+"')>删除</a></p></div>")
			}
		}

		function fetchGoodsCategory() {
			var categoryId=$("#category").val()
            SHOP_COMMON.ajax.get(ctx + "ext/shop/category/queryAll",'',function (result) {
                _categoryAll=result.data.categoryList;
                for(var i=0;i<_categoryAll.length;i++){
                    if(categoryId==_categoryAll[i].value){
                        $("#productCategoryIds").append('<option selected value="'+_categoryAll[i].value+'">'+_categoryAll[i].label+'</option>')
                    }else{
                        $("#productCategoryIds").append('<option value="'+_categoryAll[i].value+'">'+_categoryAll[i].label+'</option>')
                    }
                }
                if(categoryId){
                    productCategoryChange(categoryId)
                }
            })
		}
		function productCategoryChange(categoryId) {
			$("#productCategoryId").val("");
			$("#productCategoryId").html('<option value="">--请选择商品子类别--</option>');
			for(var i=0;i<_categoryAll.length;i++){
				if(_categoryAll[i].value==$('#productCategoryIds option:selected').val()){
					for(var y=0;y<_categoryAll[i].children.length;y++){
						var _subItem=_categoryAll[i].children[y];
						if(categoryId&&($("#subCategory").val()==_subItem.value)){
							$("#productCategoryId").append('<option selected value="'+_subItem.value+'">'+_subItem.label+'</option>')
						}else{
							$("#productCategoryId").append('<option value="'+_subItem.value+'">'+_subItem.label+'</option>')
						}
					}
				}
			}
		}
		$('.summernote').summernote({
			placeholder: '请输入商品详情',
			height : 400,
			lang : 'zh-CN',
			followingToolbar: false,
			callbacks: {
				onImageUpload: function (files) {
					sendFile(files[0], this);
				}
			}
		});
        // 上传文件
        function sendFile(file, obj) {
            var data = new FormData();
            data.append("file", file);
            SHOP_COMMON.ajax.uploadImg(data,function (result) {
                $(obj).summernote('editor.insertImage', result.data.pictureUrl, result.data.pictureUrl);
            })
        }
	</script>
</body>
</html>
