<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:include="include :: header('用户详情')"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
	<div class="ibox">
		<div class="ibox-title">
			用户基本信息
		</div>
		<div class="ibox-content">
			<div class="row  m-t-sm">
				<div class="col-md-2" style="text-align: center">
					<img id="productPic_img" class="img-circle" th:src="${user.avatar}">
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<label>昵称</label>
						<p th:text="${user.nickName}"></p>
					</div>
					<div class="form-group">
						<label>登陆名</label>
						<p th:text="${user.loginName}"></p>
					</div>
					<div class="form-group">
						<label>姓名</label>
						<p th:text="${user.name}"></p>
					</div>
					<div class="form-group">
						<label>身份证号码</label>
						<p th:text="${user.identityID}"></p>
					</div>
					<div class="form-group">
						<label>手机号</label>
						<p th:text="${user.phone}"></p>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label>实名认证</label>
						<p th:if="${user.isCertified eq true}"><span class="shop-tag-success">已实名</span></p>
						<p th:if="${user.isCertified eq false}"><span class="shop-tag-danger"></span>未实名</p>
					</div>
					<div class="form-group">
						<label>邮箱</label>
						<p th:text="${user.email}"></p>
					</div>
					<div class="form-group">
						<label>最近登陆时间</label>
						<p th:text="${user.loginTime}"></p>
					</div>
					<div class="form-group">
						<label>加入时间</label>
						<p th:text="${user.registerTime}"></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="ibox">
		<div class="ibox-title">
			用户上下级
		</div>
		<div class="ibox-content">
			<div class="form-group">
				<table class="table">
					<caption>用户上级</caption>
					<thead>
					<tr>
						<th>id</th>
						<th>昵称</th>
						<th>Last Name</th>
						<th>Username</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<th scope="row">1</th>
						<td>Mark</td>
						<td>Otto</td>
						<td>@mdo</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="ibox-content">
			<div class="form-group">
				<table class="table">
					<caption>用户下级</caption>
					<thead>
					<tr>
						<th>id</th>
						<th>昵称</th>
						<th>Last Name</th>
						<th>Username</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<th scope="row">1</th>
						<td>Mark</td>
						<td>Otto</td>
						<td>@mdo</td>
					</tr>
					<tr>
						<th scope="row">2</th>
						<td>Jacob</td>
						<td>Thornton</td>
						<td>@fat</td>
					</tr>
					<tr>
						<th scope="row">3</th>
						<td>Larry</td>
						<td>the Bird</td>
						<td>@twitter</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<style>
	p{
		min-height: 18px;
	}
	#productPic_img{
		width: 80px;
		height: 80px;
	}
	.form-group{
		min-height: 41px;
	}
	.form-group>label{
		font-weight: 600;
		font-size:14px;
	}
</style>
<th:block th:include="include :: footer"/>
<script type="text/javascript" th:inline="javascript">
	var prefix = ctx + "ext/shop/version";
</script>
</body>
</html>
